body {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
div.weather-app {
  border: 1px solid #1e56a0;
  border-radius: 0.25rem;
  padding: 20px;
  margin: 20px auto;
  width: 600px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
p4 {
  margin-top: 30px;
  font-size: 80%;
  font-weight: 400;
}
nav {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0 !important;
}
.form-control {
  color: #1e56a0;
  border: 1px solid #1e56a0;
}
.form-control::-webkit-input-placeholder {
  color: #1e56a0;
}
button#search-button {
  color: white;
  background: #1e56a0;
  border-color: #1e56a0;
}
button#search-button:hover {
  color: #1e56a0;
  background: white;
  border-color: #1e56a0;
}
button#current-location-button {
  color: #1e56a0;
  background: white;
  border-color: #1e56a0;
  position: relative;
  left: 8px;
}
button#current-location-button:hover {
  color: white;
  background: #1e56a0;
  border-color: #1e56a0;
}
section div.selected-city {
  margin-top: 30px;
}
img.weather-icon {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  line-height: 1;
  position: relative;
  top: -20px;
}
section div.selected-city span.temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
section div.selected-city span.units {
  position: relative;
  top: -34px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
section div.selected-city ul {
  list-style: none;
  padding: 0;
}
hr {
  border-color: #1e56a0;
  padding: 0;
  margin: 0;
}
div.weather-preview {
  margin-top: 20px;
}
div.weather-preview p3 {
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding: 0;
  margin: 0 auto;
  display: block;
}
div.weather-preview img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
div.weather-preview-temperature {
  text-align: center;
  color: black;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
